.camper {
  img {
    width: 50px;
    margin: 3px 20px 3px 10px;
    border-radius: 50%;
    border: 2px solid #812D58;
  }
  .column-place {
    width: 50px;
    text-align: center;
  }
  .column-points {
    width: 100px;
    text-align: center;
  }
  .column-camper {
    white-space: nowrap;
    &> * {
    vertical-align: middle;
    }
  }
  &:hover {
    background-color: #812D58 !important;
    color: #fff;
    cursor: pointer;
  }
}
