.leaderboard {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  .column-place {
    width: 50px;
  }
  .column-points {
    width: 125px;
    cursor: pointer;
    &.active {
      background-color: #812D58;
      cursor: auto;
      &::after {
        content: "▼";
      }
    }
  }
  tr {
    background: #F0A28E;
  }
  th {
    background: #BA6476;
    color: #fff;
    padding: 5px;
  }
  tr:nth-child(even) {
    background: #F5D7A1;
  }
}
