@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import "variables.scss";
body {
  background: $body-color;
}
.leaderboard {
  color: $table-text-color;
	font-family: 'Arvo', serif;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  .column-place {
    width: 50px;
  }
  .column-points {
    width: 125px;
    cursor: pointer;
    &.active {
      background-color: $accent-color;
      cursor: auto;
      &::after {
        content: "▼";
      }
    }
  }
  tr {
    background: $table-row-color;
  }
  th {
    background: $table-header;
    color: #fff;
    padding: 5px;
  }
  tr:nth-child(even) {
    background: $table-row-color-even;
  }
}
