$header-background: #FFF4E1;
$header-text: #CC4425;

$body-color: #fcfcfc;
$table-header: #BA6476;
$table-text-color: #3E4147;
$table-row-color: #F0A28E;
$table-row-color-even: #F5D7A1;
$accent-color: #812D58;
